# these are only installed during build process
# end-user install dependencies are specified through setup.py
pycryptodomex
ecdsa
aioxmpp
pyyaml
dnspython
aiogram
matrix_client
telethon
safety
bandit
yamale